.wrapper {
    width: 1600px;
    margin: 0 auto;
}

.pets__header {
    height: 80px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    background-color: black;

    align-items: center;

    .pets__nav {
        display: flex;
    }

    ul {
        display: flex;
        gap: 58px;
        list-style-type: none;
    }

    li {
        cursor: pointer;
    }

    li:hover {
        color: #F9804B;
    }

}

.active {
    color: #F9804B;
}

.pets__icon {
    padding: 14px 63px 14px 220px;
}

.pets__designer {
    padding-left: 438px;
}

.petstory__watch {
    background: url(../../assets/img/Giant\ Panda.jpg);
}

.pets__content {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

.orange__cirkal {
    position: absolute;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.petstory__watch-favotite {
    // padding-top: 12px;
    // display: flex;
    // flex-direction: column;
    // width: 465px;
    // height: 465px;
    // border-radius: 50%;
    // background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.petstory__watch-favotite {
    display: flex;
    flex-direction: column;
    width: 500.31px;
    align-items: flex-start;
    padding-right: 220px;
    padding-top: 89px;
    border-radius: 50%;
    // background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.petstory__name {
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    /* or 80px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.petstory__name {
    // padding-right: 220px;
    padding: 0px 0px 60px 0px;
    margin: 0px;
}

.color_orange {
    color: #FFEE2E;
}

.petstory__watch-button {
    background-color: #FE9013;
}


.petstory__watch-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 298px;
    padding: 16px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}

.petstory__watch-button:hover {
    cursor: pointer;
}

.backstage__conteiner {
    display: flex;
    padding: 140px 0px 180px 0px;
    gap: 87px;
    width: 1161px;
    margin: 0 auto;
}

.backstage__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #333B41;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        font-size: 48px;
        line-height: 120%;
        margin: 0px;
        padding: 0px 0px 20px 0px;
    }

    p {
        font-size: 16px;
        line-height: 130%;
        margin: 0px;
        padding: 0px 0px 0px 0px;
        color: #333B41;
    }

    h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 0px;
        padding: 53px 0px 34px 0px;
        color: #333B41;
    }
}

.backstage__card_style {
    display: flex;
    flex-direction: column;
    width: 366px;
    // height: 426px;
    border: solid #FA6F32 1px;

}

.backstage__card_style_text {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 14px;

    h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
        color: #000000;
    }

    p {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        /* identical to box height, or 18px */
        color: #000000;
    }

}

.card__svg {
    padding: 0px 13px 0px 0px;
}

.backstage__cards {
    display: flex;
    row-gap: 30px;
    column-gap: 20px;
    width: 1158px;
    flex-wrap: wrap;
    margin: 0 auto;
}












@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../assets/fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 300;
}