@import "~bootstrap/scss/bootstrap";

body {
  background-color: #222;
}

.songbird__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background-color: darkgray;
}

.songbird__pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  flex-grow: 1;
  overflow: hidden;
}

.page-link {
  margin: 0px;
  border-radius: 0px !important;
  text-align: center;
  color: white;
  background-color: #008966;
  border-color: #007c5d;
}

.page-link:hover {
  cursor: default;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #00bc8c;
}

.pagination {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.songbird__random {
  background-color: #303030;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.audio__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.songbird__random-img {
  border-radius: 10px;
}

.songbird__random-audio {
  margin-top: 10px;
}

.songbird__random-name {
  color: white;
  margin-top: 10px;
}

.songbird__card-img {
  width: 200px;
  height: 155px;
  margin: auto;
  margin-bottom: 10px;
}

.songbird__list {
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #303030;
  color: white;
}

.songbird__card-container {
  background-color: #303030;
  color: white;
}

.songbird__audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 0px;
}

.songbird__button-next {
  width: 100%;
  background-color: #303030;
  border: none;
  margin-top: 20px;
}

.songbird__logo {
  width: 200px;
  height: 55px;
}

.songbird__score {
  color: white;
}

.songbird__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}