html {
  font-size: 10px;
}

.wrapper__container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .title__name {
    font-size: 4rem;
    // color: burlywood;
  }
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2rem;
}

.buttons {
  font-size: 1.5rem;
  width: 90px;
  height: 50px;
}

.game__container {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  transition: all 0.5s ease;
  position: relative;
}

.plate__styleFour {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.plate__styleThree {
  position: relative;
  cursor: pointer;
  width: 133.33px;
  height: 134px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.plate__styleFive {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.plate__styleSix {
  position: relative;
  cursor: pointer;
  width: 66.66px;
  height: 66.66px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.plate__styleSeven {
  position: relative;
  cursor: pointer;
  width: 57.14px;
  height: 57.14px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.plate__styleEight {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.count__container {
  display: flex;
  gap: 4rem;
  font-size: 3rem;
  margin: 20px 0px 20px 0px;
}

@keyframes moveBot {
  from {
    left: 0px;
  }

  to {
    left: -1160px;
  }
}


@keyframes moveRightOne {
  from {
    left: 0px;
  }

  to {
    left: 1160px;
  }
}

.puzzle__container {
  position: relative;
}

.move-leftOne {
  animation-name: moveBot;
  animation-duration: 1s;
}

.move-rightOne {
  animation-name: moveRightOne;
  animation-duration: 1s;
}

.res__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  // height: 400px;
  background-color: white;
  border: 1px solid black;
  top: 15%;
  right: 0%;
}

.res__title {
  font-size: 3rem;
}

.row__style {
  text-align: center;
  width: 300px;
  font-size: 2rem;
  border: 1px solid black;
  padding: 5px;

}

.row__style:last-child {
  margin-bottom: 20px;
}

.complexity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size__name {
  font-size: 2rem;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.size__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttons__size {
  width: 50px;
  height: 25px;
  font-size: 2rem;
}

.muted {
  font-size: 2rem;
}