html {
  font-size: 10px;
}

.wrapper__container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .title__name {
    font-size: 4rem;
    // color: burlywood;
  }
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 2rem;
}

.buttons {
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
}

.game__container {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  transition: all 0.5s ease;
  position: relative;
}

.plate__style {
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 3rem;
  transition: transform 0.2s;
}

.count__container {
  display: flex;
  gap: 4rem;
  font-size: 3rem;
  margin: 20px 0px 20px 0px;
}

@keyframes moveBot {
  from {
    left: 0px;
  }

  to {
    left: -1160px;
  }
}


@keyframes moveRightOne {
  from {
    left: 0px;
  }

  to {
    left: 1160px;
  }
}

.move-leftOne {
  animation-name: moveBot;
  animation-duration: 1s;
}

.move-rightOne {
  animation-name: moveRightOne;
  animation-duration: 1s;
}