h1 {
  font-size: 60px;
}
.cars-container {
  position: relative;
}
.cars_cards-container {
  display: flex;
}
.car-card {
  display: flex;
  width: 100%;
  gap: 10px;
}
.buttons-car {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.svg-car-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  border-bottom: dotted 1px black;
}
.car-post-container {
  display: flex;
  gap: 10px;
  margin: 10px 10px 10px 10px;
}
.cars_cards-buttons {
  border: 1px solid black;
  width: 50%;
  padding: 10px;
}

.car-put-container {
  display: flex;
  gap: 10px;
  margin: 10px 10px 10px 10px;
}
.finish {
  margin-right: 100px;
}
.modal-car-winner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  .car-winner {
    font-size: 20px;
    width: 150px;
    height: 150px;
    z-index: 1;
  }
}
.winners_modal-container {
  position: absolute;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 200vh;

  background-color: white;
  z-index: 5;
}
table {
  border: 1px solid black;
  width: 600px;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
