h1 {
  font-size: 60px;
}

.cars_cards-container {
  display: flex;
}
.car-card {
  display: flex;
  width: 100%;
  gap: 10px;
}
.buttons-car {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.svg-car-container {
  align-self: flex-end;
  width: 75%;
}
